{% extends "base.html" %}

{% block content %}
    <div class="card shadow-sm">
    <div class="card-body">

        <h2 class="h5 mb-3">Additional Information for the room number {{ room_number }}</h2>
        <textarea rows="25" cols="100" readonly="readonly">
             {{ room_description }}
        </textarea>


    </div>
    <div class="card-footer">
        <a class="btn btn-primary"  href={% url 'availability:rooms_list' %}>
            <i class="bi bi-arrow-left"></i>
            Back</a>
    </div>
</div>
{% endblock %}